#game {
  background: #ababab;
}
#game,
#controlls {
  float: left;
}
#game > div {
  border: 1px solid #7f7f7f;
}
#controlls {
  border: 1px solid #7f7f7f;
  border-left: none;
  width: 160px;
  height: 407px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#controlls #menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
#controlls #menu li {
  width: 160px;
  height: 20px;
  background-color: #7fc7ff;
  border-bottom: 1px solid #7f7f7f;
  font-size: 14px;
  text-align: center;
  padding-top: 7px;
  cursor: pointer;
}
#controlls #menu li:hover {
  background-color: #ff6900;
  color: #fff;
}
#controlls #menu li.mini {
  width: 53px;
  border-right: 1px solid #7f7f7f;
  float: left;
  background-color: rgba(127, 199, 255, 0.5);
}
#controlls #menu li.mini:last-child {
  width: 52px;
  border-right: none;
}
#controlls #menu li.mini:hover {
  color: #4e2000;
  background-color: #7fc7ff;
}
#controlls #menu li.start,
#controlls #menu li.save,
#controlls #menu li.load {
  background-image: url('/img/start.png');
  background-repeat: no-repeat;
  background-position: center;
}
#controlls #menu li.save {
  background-image: url('/img/save.png');
}
#controlls #menu li.load {
  background-image: url('/img/load.png');
}
#controlls #log {
  width: 160px;
  height: 230px;
  position: absolute;
  top: 182px;
  overflow: auto;
}
#controlls #log ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#controlls #log ul li.selected {
  background: red;
}
.hide {
  display: none;
}
