//@width: 815px;
@height: 407px;
@color1: #7fc7ff;
@color2: #ff6900;

.noselect () {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}

* {
	margin: 0
}

body {
	padding: 5px;
}

#game {
    background: #ababab;
}

#game, #controlls {
	float: left;
}

#game > div {
	border: 1px solid #7f7f7f;
}

#controlls {
	border: 1px solid #7f7f7f;
	border-left: none;
	width: 160px;
	height: @height;
	.noselect;
	
	#menu, #menuDebug {
		list-style: none;
		margin: 0;
		padding: 0;
		
		li {
			width: 160px;
			height: 20px;
			background-color: @color1;
			border-bottom: 1px solid #7f7f7f;
			font-size: 14px;
			text-align: center;
			padding-top: 7px;
			cursor: pointer;
			
			&.deactive {
				background-color: desaturate(@color1, 70%);
				color: rgba(0,0,0,0.3);
				cursor: default;
				
				&:hover {
					background-color: desaturate(@color1, 70%);
					color: rgba(0,0,0,0.3);
				}
			}
			
			&:hover {
				background-color: @color2;
				color: #fff;
			}
		}
	}
	
	#menuDebug {
		opacity: 0;
		display: none;
		
		#stop {
			display: none;
		}
	}
	
	#log {
		margin-top: 1px;
		height: 208px;
		overflow: auto;
		padding: 1px 2px;
		font-size: 10pt;
		white-space: nowrap;
		cursor: default;
		
		&::selection {
			background: rgba(0,0,0,1);
		}
		
		&.active {
			.item, .empty-action {
				cursor: pointer;
				
				&:hover {
					background: rgba(0,0,0,0.1);
					outline: 1px dashed rgba(0,0,0,0.2);
				}
			}
		}
		.item, .empty-action {
			&.invise {
				display: none;
			}
			&.current {
				background: rgba(0,0,0,0.1);
				outline: 1px dashed rgba(0,0,0,0.2);
				
				&.error {
					background-color: rgba(255,0,0,0.4);
					outline: 1px dashed rgba(255,0,0,0.8);
				}
			}
			&.active {
				background-color: @color2;
				outline: 1px dashed darken(@color2, 20%);
				color: white;
				cursor: default;
				
				&:hover {
					background-color: @color2;
					outline: 1px dashed darken(@color2, 20%);
					color: white;
				}
			}
		}
		.info {
			text-transform: uppercase;
			font-family: Courier New;
		}
		.loop {
			@color: rgb(127,199,255);
			background: fadeout(@color, 90%);
			outline: 1px solid fadeout(darken(@color, 10%), 60%);
			
			.loop-body {
				padding-left: 5px;
			}
			
			&.active {
				background-color: @color2;
				outline: 1px dashed darken(@color2, 20%);
				color: white;
				cursor: default;
				
				&:hover {
					background-color: @color2;
					outline: 1px dashed darken(@color2, 20%);
					color: white;
				}
			}
		}
		.branch {
			@color: rgb(255,105,0);
			background: fadeout(@color, 90%);
			outline: 1px solid fadeout(darken(@color, 10%), 60%);
			
			&.active {
				background-color: @color2;
				outline: 1px dashed darken(@color2, 20%);
				color: white;
				cursor: default;
				
				&:hover {
					background-color: @color2;
					outline: 1px dashed darken(@color2, 20%);
					color: white;
				}
			}
			.branch-wall {
				padding-left: 5px;
			}
			.branch-space {
				padding-left: 5px;
			}
		}
	}
}

.hide {
    display: none;
}

#container {
	#topMenu {
		width: 50px;
		height: 25px;
		background: rgba(0,0,0,0.1);
		border-left: 1px solid rgba(0,0,0,0.3);
		border-right: 1px solid rgba(0,0,0,0.3);
		border-top: 1px solid rgba(0,0,0,0.3);
		color: rgba(0,0,0,0.5);
		white-space: nowrap;
		clear: top;
		
		div {
			padding-left: 5px;
		}
	}
	#login {
		position: absolute;
		background: rgba(0,0,0,0.8);
		text-align: center;
		font-size: 13pt;
		display: none;
		
		.content {
			//padding-top: 50px;
			position: absolute;
			left: 50%;
			margin-left: -300px;
			padding-bottom: 25px;
			width: 350px;
			background: white;
		}
	}
}

.prompt {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.7);
	
	.content {
		position: absolute;
		background-color: white;
		height: 100px;
		width: 300px;
		padding: 15px;
		text-align: center;
		box-shadow: 0 0 10px black;
		
		.value {
			display: block;
			margin: 10px;
			width: 280px;
		}
		
		.ok {
			margin-right: 30px;
		}
	}
}

#loading {
	position: absolute;
	padding: 10px 20px;
	background: rgba(0,0,0,0.8);
	color: white;
	box-shadow: 0 0 5px black;
	cursor: default;
}