@colorBlue: #7fc7ff;
@colorOrange: #ff6900;

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	margin: 0;
	cursor: default;
}

.transition () {
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

#content {
	margin: 5px 0 0 5px;
	
	.general {
		@grey: rgba(0,0,0,0.4);
		.game {
			display: inline-block;
			
			& > div {
				background: @grey;
				border: 1px solid @grey;
			}
		}
		.rightMenu {
			display: inline-block;
			vertical-align: top;
			position: absolute;
			width: 200px;
			border-top: 1px solid @grey;
			border-right: 1px solid @grey;
			
			.menu {
				margin: 0;
				padding: 0;
				list-style: none;
				
				ul {
					margin: 0;
					padding: 0;
					list-style: none;
					
					&.spoiler {
						.button {
							display: none;
						}
						
						&:hover {
							.text {
								display: none;
							}
							.button {
								display: inline-block;
							}
						}
					}
				}
				
				li {
					.transition();
					padding: 5px;
					background: @colorBlue;
					border-bottom: 1px solid @grey;
					text-align: center;
					cursor: pointer;
					
					&:hover {
						background: @colorOrange;
						box-shadow: 0 0 10px rgba(0,0,0,0.3) inset;
						color: white;
						text-shadow: 1px 1px 0 rgba(0,0,0,0.8);
					}
					
					&.mini {
						display: inline-block;
						width: 45%;
					}
					
					&.disabled {
						background-color: #c0c0c0 !important;
						box-shadow: none !important;
						text-shadow: none !important;
						color: grey !important;
						cursor: default !important;
					}
				}
			}
			
			#log {
				border-bottom: 1px solid @grey;
				overflow: auto;
				list-style: none;
				
				ul {
					list-style: none;
					padding: 0;
					box-shadow: 0 0 5px rgba(0,0,0,0.3);
					padding-left: 2px;
					
					li, ul {
						margin-left: 5px;
					}
				}
				
				.item {
					margin-bottom: 1px;
					.transition();
				}
				
				.loop {
					@color: #ffb700;
					background-color: lighten(@color, 30%);
					outline: 1px solid darken(@color, 5%);
					.transition();
				}
				
				.branch {
					@color: #00a3ff;
					background-color: lighten(@color, 30%);
					outline: 1px solid darken(@color, 5%);
					.transition();
				}
				
				.item:nth-child(n+2), .loop:nth-child(n+2), .branch:nth-child(n+2) {
					margin-top: 1px;
				}
				
				.active {
					@color: #008e48;
					background-color: @color;
					outline: 1px solid darken(@color, 20%);
					color: white;
					text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
					
					& .loop, & .branch {
						background: none;
						outline: 1px solid darken(@color, 20%);
					}
				}
				
				.removed {
					display: none;
				}
			}
			
			#log.active {
				.item {
					cursor: pointer;
					&:hover {
						background-color: rgba(0,0,0,0.1);
						outline: 1px solid rgba(0,0,0,0.3);
					}
				}
				
				.active:hover {
					@color: #008e48;
					background-color: @color;
					outline: 1px solid darken(@color, 20%);
				}
			}
		}
	}
}