//@width: 815px;
@height: 407px;

.noselect () {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}

#game {
    background: #ababab;
}

#game, #controlls {
	float: left;
}

#game > div {
	border: 1px solid #7f7f7f;
}

#controlls {
	border: 1px solid #7f7f7f;
	border-left: none;
	width: 160px;
	height: @height;
	.noselect;
	
	#menu, #menuDebug {
		list-style: none;
		margin: 0;
		padding: 0;
		
		li {
			@color: #7fc7ff;
			width: 160px;
			height: 20px;
			background-color: @color;
			border-bottom: 1px solid #7f7f7f;
			font-size: 14px;
			text-align: center;
			padding-top: 7px;
			cursor: pointer;
			
			&.deactive {
				background-color: desaturate(@color, 70%);
				color: rgba(0,0,0,0.3);
				cursor: default;
				
				&:hover {
					background-color: desaturate(@color, 70%);
					color: rgba(0,0,0,0.3);
				}
			}
			
			&:hover {
				background-color: #ff6900;
				color: #fff;
			}
		}
		
		li.mini {
			width: 53px;
			border-right: 1px solid #7f7f7f;
			float: left;
			background-color: rgba(127, 199, 255, 0.5);
			
			&:last-child {
				width: 52px;
				border-right: none;
			}
			
			&:hover {
				color: rgba(78, 32, 0, 1);
				background-color: rgb(127, 199, 255);
			}
		}
	}
	
	#menuDebug {
		opacity: 0;
		display: none;
		
		#stop {
			display: none;
		}
	}
	
	#log {
		margin-top: 1px;
		height: 208px;
		overflow: auto;
		padding: 1px 2px;
		font-size: 10pt;
		white-space: nowrap;
		cursor: default;
		
		&.active {
			.item {
				cursor: pointer;
				
				&:hover {
					background: rgba(0,0,0,0.1);
					outline: 1px dashed rgba(0,0,0,0.2);
				}
			}
		}
		.item {
			&.current {
				background: rgba(0,0,0,0.1);
				outline: 1px dashed rgba(0,0,0,0.2);
				
				&.error {
					background-color: rgba(255,0,0,0.4);
					outline: 1px dashed rgba(255,0,0,0.8);
				}
			}
		}
		.info {
			text-transform: uppercase;
			font-family: Courier New;
		}
		.loop {
			@color: rgb(127,199,255);
			background: fadeout(@color, 90%);
			outline: 1px solid fadeout(darken(@color, 10%), 60%);
			
			.loop-body {
				padding-left: 5px;
			}
		}
		.branch {
			@color: rgb(255,105,0);
			background: fadeout(@color, 90%);
			outline: 1px solid fadeout(darken(@color, 10%), 60%);
			
			.branch-wall {
				padding-left: 5px;
			}
			.branch-space {
				padding-left: 5px;
			}
		}
	}
}

.hide {
    display: none;
}

#container {
	#topMenu {
		width: 50px;
		height: 25px;
		background: rgba(0,0,0,0.1);
		border-left: 1px solid rgba(0,0,0,0.3);
		border-right: 1px solid rgba(0,0,0,0.3);
		border-top: 1px solid rgba(0,0,0,0.3);
		color: rgba(0,0,0,0.5);
		
		div {
			padding-left: 5px;
		}
	}
	#login {
		position: absolute;
		background: rgba(0,0,0,0.8);
		text-align: center;
		font-size: 13pt;
		display: none;
		
		.content {
			//padding-top: 50px;
			position: absolute;
			left: 50%;
			margin-left: -300px;
			padding-bottom: 25px;
			width: 350px;
			background: white;
		}
	}
}